@page "/"
@inherits ComponentBase

<PageTitle>Home</PageTitle>

<div class="search-destination">
    <MudGrid>
        <MudItem xs="12">
            <MudAutocomplete T="string" Label="US States" @bind-Value="_state" SearchFunc="@Search" Variant="Variant.Outlined" ShowProgressIndicator="true" />
        </MudItem>
    </MudGrid>
</div>

@*<div style="height:100dvh; width: 100dvw;">*@
    <GoogleMap  @ref="_googleMap"
               Height="@_jsMapHeight"
               Width="@_jsMapWidth"
               BackgroundColor="@_jsMapBackgroundColor"
               ControlSize="@_jsMapControlSize"
               Center="@_jsMapCenter"
               AnimateCenterChange
               Zoom="@_jsMapZoomLevel"
               ZoomControl
               ZoomControlOptionsPosition="GoogleMapControlPositions.RIGHT_BOTTOM"
               MaxZoom="null"
               MinZoom="null"
               MapType="@_jsMapType"
               Heading="0"
               Tilt="@_jsTilt"
               RotateControl
               RotateControlOptionsPosition="GoogleMapControlPositions.RIGHT_TOP"
               ScaleControl
               StreetViewControl
               StreetViewControlOptionsPosition="GoogleMapControlPositions.TOP_CENTER"
               ClickableIcons
               DisableDefaultUI
               DisableDoubleClickZoom
               DraggableCursor="crosshair"
               DraggingCursor="move"
               FullscreenControl
               FullscreenControlPositon="@_jsFullscreenControlPositon"
               GestureHandling="@_jsGestureHandling"
               MapTypeControlOptions="@_jsMapTypeControlOptions"
               CenterCurrentLocationOnLoad
               CustomControls="@_jsCustomControls"
               Markers="@_jsMarkers"
               ApiKey="@_googleMapsApiKey" />
@*</div>*@
