@page "/"
@using FastRide.Server.Contracts.Enums
@inherits ComponentBase

<PageTitle>Home</PageTitle>

@if (CurrentRideState.State == RideStatus.None)
{
    <div class="search-destination">
        <MudStack Style="width: 70dvw">
            <MudAutocomplete T="string"
                             Label="Search your destination..."
                             Value="@_destinationAddress"
                             ValueChanged="@ValueHasChanged"
                             SearchFunc="@Search"
                             TextChanged="@TextHasChanged"
                             Text="@_destinationAddressText"
                             SelectValueOnTab
                             ShowProgressIndicator
                             Variant="Variant.Filled"
                             AdornmentIcon="@Icons.Material.Filled.Search"/>

        </MudStack>
    </div>
}

<Map @ref="@_map"
     OnClickMap="@MapClicked"
     OnMapRendered="OnMapRenderedAsync">
</Map>