@using FastRide.Server.Contracts
@using FastRide.Server.Contracts.Enums
<nav class="d-flex flex-row align-items-center justify-content-center">
    <div class="nav-item px-1">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house"></i>
        </NavLink>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="history">
                    <i class="bi bi-calendar2-week"></i>
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <img class="nav-link profile-image"
                     src="@context.User.Claims.Single(c => c.Type == "picture").Value"
                     alt="@context.User.Identity!.Name"
                     onclick="@OpenAccountMenu"/>
                <MudPopover Open="@_openProfileSettings" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                    <MudPaper Width="200px">
                        <MudList T="string">
                            <MudListItem Text="Account settings" Icon="@Icons.Material.Filled.VerifiedUser" Href="https://myaccount.google.com"/>
                            <MudDivider />
                            <MudListItem Text="Change phone number" Icon="@Icons.Material.Filled.Phone" OnClick="OpenChangeUserSettingsAsync" />
                        </MudList>
                    </MudPaper>
                </MudPopover>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link btn btn-link bg-danger text-white" @onclick="LogOut">
                    <i class="bi bi-box-arrow-right "></i>
                </NavLink>
            </div>
            @if (context.User.IsInRole(UserType.User.ToString()))
            {
                @if (DestinationState.Geolocation != null)
                {
                    <div class="nav-item px-1">
                        <NavLink class="nav-link btn btn-link bg-success text-white" onclick="@RideAsync">Ride
                        </NavLink>
                    </div>
                }
            }
            @if (context.User.IsInRole(UserType.Driver.ToString()))
            {
                <div class="nav-item px-1">
                    <NavLink class="@($"nav-link btn btn-link {(false ? "bg-body" : "bg-warning")} text-white")"
                             onclick="@OpenRideAsync">Ride
                    </NavLink>
                </div>
                <AcceptAvailableRidePopup AvailableRide="@_availableRide" @bind-Opened="OpenAvailableRide" /> 
            }
        </Authorized>
        <NotAuthorized>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="authentication/login">
                    <i class="bi bi-box-arrow-in-right"></i>
                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</nav>