<MudDialog>
    <DialogContent>
        <MudImage Src="@_user.PictureUrl" 
                  Alt="User picture"
                  Elevation="25"
                  Class="rounded-lg"/>
        <div class="d-flex flex-column py-1">
            <div class="fw-bold">
                @_user.UserName
            </div>
            <div class="fw-bold">
                @_user.Identifier?.Email
            </div>
            <span class="text-muted">@_user.PhoneNumber</span>
        </div>
        <MudRating SelectedValue="@((int)_user.Rating)" Disabled></MudRating>
    </DialogContent>
</MudDialog>