<MudDialog>
    <DialogContent>
        <MudStepper @bind-ActiveIndex="_index" CompletedStepColor="Color.Success" CurrentStepColor="Color.Primary"
                    NavClass="border-b mud-border-lines-default" StepClass="pt-4"
                    class="dialog-size">
            <TitleTemplate></TitleTemplate>
            <ConnectorTemplate Context="step">
                <div class="mud-stepper-nav-connector">
                    @{
                        var value = step.Completed ? 100 : 0;
                        <MudProgressLinear Indeterminate="@(step.IsActive)" Striped Value="value" Min="0" Max="100"
                                           Color="Color.Success"
                                           Class="progress-bar"/>
                    }
                </div>
            </ConnectorTemplate>
            <LabelTemplate>
                @if (context.IsActive)
                {
                    <MudIcon Icon="@Icons.Material.Filled.DirectionsCar"
                             Color="context.Completed ? Color.Success : Color.Primary"></MudIcon>
                }
                else if (context.Completed)
                {
                    <div class="completed-bullet"></div>
                }
                else
                {
                    <div class="incomplete-bullet"></div>
                }
            </LabelTemplate>
            <ChildContent>
                <MudStep Title="Confirm the ride">
                    @if (_stepperLoading)
                    {
                        <MudProgressLinear Indeterminate Striped Value="0" Min="0" Max="100"
                                           Color="Color.Success"
                                           Class="progress-bar"/>
                    }
                    else
                    {
                        <MudText>The ride costs: <b>LEI @_price.ToString("#.##")</b></MudText>
                        <MudText>Do you want to continue?</MudText>
                    }
                </MudStep>
                <MudStep Title="Payment" @bind-Completed="_completed">
                    @if (_stepperLoading)
                    {
                        <MudProgressLinear Indeterminate Striped Value="0" Min="0" Max="100"
                                           Color="Color.Success"
                                           Class="progress-bar"/>
                    }
                    else
                    {
                        <div id="payment-element">
                            <!--Stripe.js injects the Payment Element-->
                        </div>
                    }
                </MudStep>
            </ChildContent>
            <CompletedContent>
                <MudStack Class="ma-3">
                    @if (string.IsNullOrEmpty(_paymentConfirmation))
                    {
                        <MudStack>
                            <MudIcon Icon="@Icons.Material.Filled.Done" Color="Color.Success"/>
                            <MudText>
                                Payment is completed! Search a rider is in progress...
                            </MudText>
                        </MudStack>
                    }
                    else
                    {
                        <MudStack>
                            <MudIcon Icon="@Icons.Material.Filled.Cancel" Color="Color.Warning"/>
                            <MudText>
                                @("Payment failed: " + _paymentConfirmation)
                            </MudText>
                        </MudStack>
                    }
                    <MudButton Color="Color.Primary" OnClick="@(() => CompleteDialogAsync())">Ok
                    </MudButton>
                </MudStack>
            </CompletedContent>
            <ActionContent Context="stepper">
                <div class="d-flex flex-row justify-content-between">
                    @if (!_completed)
                    {
                        <MudStack Row Justify="Justify.SpaceBetween">
                            <MudIconButton OnClick="@(async () => await CancelAsync(stepper))"
                                           Icon="@Icons.Material.Filled.Close"
                                           Color="Color.Secondary"/>
                            <MudIconButton OnClick="@(async () => await NextStepperAsync(stepper))"
                                           Disabled="_nextDisabled"
                                           Icon="@Icons.Material.Filled.ArrowForward"
                                           Color="Color.Primary"/>
                        </MudStack>
                    }
                </div>
            </ActionContent>
        </MudStepper>
    </DialogContent>
</MudDialog>